#post_style img {
	width: 200px;
	height: 200px;
	margin-bottom: 3rem;
}
#post {
	text-align: center;
	justify-content: center;
	margin: 15px;
	padding: 80px 30px;
}
#post p {
	text-align: left;
}
#Desktop .row {
	align-items: center;
	padding: 10px;
}
body {
	margin-top: 15px;
}
#hero {
	border-radius: 8px;
	margin-top: 4rem;
	margin-bottom: 4rem;
	padding: 30px;
}

#bottom .col-lg-3 img {
	height: 200px;
	width: 200px;
}
#bottom {
	margin: 80px 0;
}

#bottom .col-lg-3 {
	margin-top: 15px;
	text-align: center;
	padding: 5px;
}

#bottom .col-lg-3 p {
	margin: 2rem 3rem;
	padding: 1rem;
}

#footer {
	padding: 60px;
	text-align: center;
}

#Desktop {
	display: block;
}

#mobile {
	display: none;
}

@media screen and (max-width:990px) {
	#Desktop {
		display: none;
	}
	#mobile {
		display: block;
	}
}